<div class="row mar-top25px news-index">
    <div class="row col-12">
        <div class="col-6 pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
            <div class="news-info">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-3">By Canada</div>
                    <div class="col-2 count-seen">999</div>
                    <div class="col-2 count-like">999</div>
                    <div class="col-2 count-message">999</div>
                </div>
            </div>
        </div>
        <div class="col-6 pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
            <div class="news-info">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-3">By Canada</div>

                    <div class="col-2 count-seen">999</div>
                    <div class="col-2 count-like">999</div>
                    <div class="col-2 count-message">999</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12 mar-top15px new-info-sec-line">
        <div class="col-3 pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
            <div class="news-info">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-5">By Canada</div>

                    <div class="col-2 count-seen pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-like pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-message pad-left20px">999</div>
                </div>
            </div>
        </div>
        <div class="col-3 pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
            <div class="news-info">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-5">By Canada</div>

                    <div class="col-2 count-seen pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-like pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-message pad-left20px">999</div>
                </div>
            </div>
        </div>
        <div class="col-3 pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
            <div class="news-info">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-5">By Canada</div>

                    <div class="col-2 count-seen pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-like pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-message pad-left20px">999</div>
                </div>
            </div>
        </div>
        <div class="col-3 pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
            <div class="news-info">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-5">By Canada</div>

                    <div class="col-2 count-seen pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-like pad-left20px">999</div>&nbsp;
                    <div class="col-2 count-message pad-left20px">999</div>
                </div>
            </div>
        </div>
    </div>
</div>