@{
    List<ImmiCanada.Entities.News> News = (List<ImmiCanada.Entities.News>)ViewData["NewsImmigrationStory"];
}
<div class="row mar-top25px news-index news-immigration-story">
    <div class="row col-12">
        <div class="col-8 pos-rel">
            <img src="@News[0].Base64Image" class="img-fluid full-height" />
            <div class="news-info">
                <div>@News[0].Title</div>
                <div class="row new-sec-info">
                    <div class="col-2">By Canada</div>
                    <div class="count-seen">@News[0].NumberOfView</div>
                    <div class="count-like">@News[0].NumberOfLike</div>
                    <div class="count-message">999</div>
                </div>
            </div>
        </div>
        <div class="col-4 remove-paddingright one-and-a-half-banner-item">
            <div class="row pos-rel">
                <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
                <div class="news-info full-width">
                    <div>Quyền tự do của bạn ở Canada</div>
                    <div class="row new-sec-info">
                        <div class="col-4">By Canada</div>

                        <div class="count-seen">999</div>
                        <div class="count-like">999</div>
                        <div class="count-message">999</div>
                    </div>
                </div>
            </div>
            <div class="row pos-rel pad-top15px">
                <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid" />
                <div class="news-info full-width">
                    <div>Quyền tự do của bạn ở Canada</div>
                    <div class="row new-sec-info">
                        <div class="col-4">By Canada</div>

                        <div class="count-seen">999</div>
                        <div class="count-like">999</div>
                        <div class="count-message">999</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12 mar-left15px mar-top15px new-info-sec-line remove-paddingleft remove-paddingright">
        <div class="one-third-news-item pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid full-height" />
            <div class="news-info full-width">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-3">By Canada</div>

                    <div class="count-seen pad-left20px">999</div>&nbsp;
                    <div class="count-like pad-left20px">999</div>&nbsp;
                    <div class="count-message pad-left20px">999</div>
                </div>
            </div>
        </div>
        <div class="one-third-news-item pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid full-height" />
            <div class="news-info full-width">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-3">By Canada</div>

                    <div class="count-seen pad-left20px">999</div>&nbsp;
                    <div class="count-like pad-left20px">999</div>&nbsp;
                    <div class="count-message pad-left20px">999</div>
                </div>
            </div>
        </div>
        <div class="one-third-news-item pos-rel">
            <img src="../Content/images/tin-nhap-cu-1.jpg" class="img-fluid full-height" />
            <div class="news-info full-width">
                <div>Quyền tự do của bạn ở Canada</div>
                <div class="row new-sec-info">
                    <div class="col-3">By Canada</div>

                    <div class="count-seen pad-left20px">999</div>&nbsp;
                    <div class="count-like pad-left20px">999</div>&nbsp;
                    <div class="count-message pad-left20px">999</div>
                </div>
            </div>
        </div>

    </div>
</div>