@model ImmiCanada.Entities.ImmigrationService
@{
    ViewBag.Title = "CanadaVisa CMS";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h3>Bạn có muốn delete chương trình này?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="submit" value="Xóa" class="btn btn-primary" /> @Html.ActionLink("Trở về", "Index")
    </div>
}