body {
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    width: 100%;
}

.carousel-control-next {
    right: 0 !important;
    width: 40px;
}

.top-banner {
    background-color: #99CCFF;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 2.3;
    margin-right: 0;
}

.main-logo {
    width: 120px;
}

.slogan {
    color: #006190;
    font-weight: 600;
    font-size: 25px;
    margin-left: -100px;
    padding-top: 40px;
}

.main-menu {
    /* background-color: #E9E9E9; */
    font-weight: 600;
    font-size: 15px;
    line-height: 4;
    padding-left: 15px;
}

    .main-menu .menu-item {
        margin-right: 30px;
        border-top-width: 0px;
        border-top-style: solid;
        border-top-color: #FFFFFF;
        transition: all 0.5s;
    }

        .main-menu .menu-item:hover,
        .main-menu .menu-item:active {
            border-top-width: 3px;
            border-top-color: #ed2025;
        }

        .main-menu .menu-item a {
            color: #ed2025;
        }

            .main-menu .menu-item a:hover {
                text-decoration: none;
            }

.main-menu-new {
    background-color: #ed2025;
}

    .main-menu-new ul.navbar-nav li.nav-item a.nav-link {
        color: #FFFFFF;
    }

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.introduction {
    color: #FFFFFF;
    background-color: #1A9BD7;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    margin-top: -90px;
}

#divCanadaDetails,
#divCanadaStates {
    position: absolute;
    width: 60vw;
    background-color: #f0f8fb;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 2px;
}

#divImmigrationService {
    position: absolute;
    width: 40vw;
    background-color: #f0f8fb;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 2px;
}

.pos-rel {
    position: relative;
}

.canada-detail-background {
    background-color: #0E386C;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0;
}

    .canada-detail-background .main-pri-text {
        font-size: 15px;
        line-height: 2;
        padding-left: 10px;
    }

    .canada-detail-background .secondary-text {
        line-height: 2;
        padding-left: 10px;
    }

.pri-text {
    font-weight: 700;
    line-height: 2;
    color: #000000;
    font-size: 12px;
}

.sec-text {
    line-height: 1.5;
    font-size: 13px;
    color: slategray;
    font-size: 10px;
}

.bor-right {
    border-right: 1px solid #CCC;
}

.remove-width {
    width: unset !important;
}

.remove-paddingleft {
    padding-left: 0px !important;
}

.remove-paddingright {
    padding-right: 0px !important;
}

.remove-paddingbottom {
    padding-bottom: 0px !important;
}

.remove-marginbottom {
    margin: 0px !important;
}

.remove-marginleft {
    margin-left: 0px !important;
}

.remove-marginright {
    right: 0px !important;
}

.pad-left65px {
    padding-left: 65px;
}

.pad-left10px {
    padding-left: 10px;
}

.pad-left15px {
    padding-left: 15px !important;
}

.pad-left5px {
    padding-left: 5px;
}

.pad-left30px {
    padding-left: 30px;
}

.pad-left20px {
    padding-left: 20px !important;
}

.pad-left25px {
    padding-left: 25px !important;
}

.pad-right30px {
    padding-right: 30px;
}

.pad-bot10px {
    padding-bottom: 10px;
}

.pad-top40px {
    padding-top: 40px;
}

.pad30px {
    padding: 30px;
}

.pad-top5px {
    padding-top: 5px !important;
}

.pad-top10px {
    padding-top: 10px !important;
}

.pad-top15px {
    padding-top: 15px !important;
}

.pad-top20px {
    padding-top: 20px !important;
}

.pad-bot10px {
    padding-bottom: 10px;
}

.pad-bot30px {
    padding-bottom: 30px;
}

.pad-top85px {
    padding-top: 85px;
}

.mar-bottom30px {
    margin-bottom: 30px;
}

.mar-bottom60px {
    margin-bottom: 60px;
}

.mar-bottom3px {
    margin-bottom: 3px;
}

.mar-right3px {
    margin-right: 3px;
}

.mar-right10px {
    margin-right: 10px !important;
}

.mar-right15px {
    margin-right: 15px !important;
}

.mar-left15px {
    margin-left: 15px !important;
}

.mar-botttom6px {
    margin-bottom: 6px;
}

.mar-bottom10px {
    margin-bottom: 10px;
}

.mar-bottom20px {
    margin-bottom: 20px;
}

.mar-top25px {
    margin-top: 25px;
}

.mar-top40px {
    margin-top: 40px;
}

.mar-top10px {
    margin-top: 10px;
}

.mar-top15px {
    margin-top: 15px;
}

.mar-top20x {
    margin-top: 20px;
}

.mar-top60px {
    margin-top: 60px;
}

.min-height210px {
    min-height: 210px;
}

.min-height300px {
    min-height: 300px !important;
}

.min-height306px {
    min-height: 306px;
}

.max-height245px {
    max-height: 245px;
}

.height400px {
    height: 400px;
}

.height350px {
    height: 350px;
}

.height297px {
    height: 297px;
}

.height190px {
    height: 190px !important;
}

.width-75Percent {
    width: 75%;
}

.font-weight600 {
    font-weight: 600;
}

.font-size13px {
    font-size: 13px;
}

.font-size14px {
    font-size: 14px !important;
}

.main-banner {
    /*background-image: url(../Content/images/banner-homepage.png);*/
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header {
    /*background-image: url(../Content/images/Banner.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.default-banner {
    background-image: url(../Content/images/Banner.jpg);
}

.service-banner {
    background-image: url(../Content/images/ServiceBanner.jpg);
}

.work-banner {
    background-image: url(../Content/images/smiling-young-businessman.jpg);
}

.homepage-title-service {
    font-size: 30px;
    font-weight: 700;
    margin-top: 55px;
    color: blue;
}

.homepage-title-settle {
    background-color: #003470;
    color: #FFFFFF;
    padding: 0px 1px 0px 3px;
    font-weight: 600;
    font-size: 30px;
    border-radius: 4px;
    width: 75%;
}

.homepage-title-canada {
    color: #FD0000;
    font-weight: bolder;
    font-size: 80px;
    line-height: 1;
}

.homepage-title-success {
    color: #006190;
    font-size: 18px;
    font-weight: 600;
}

.market-title {
    color: #ed2025;
    font-size: 25px;
    font-weight: 700;
    padding-top: 100px;
}

.homepage-contact-button input {
    background: #1B1464;
    color: #FFFFFF;
    padding: 5px 22px;
    border-radius: 5px;
    margin-top: 12px;
    border: none;
}

.hoz-line {
    border-bottom: 3px solid #ed2025;
    width: 20%;
    margin: unset;
    border-top: none;
}

.hoz-line-fee {
    border-bottom: 3px solid #ed2025;
    width: 10%;
    margin: unset;
    border-top: none;
}

.card-highlight {
    width: 20rem;
    min-height: 33rem;
    box-shadow: 5px 10px 18px #888888;
    font-size: 12px;
    width: 100%;
    border: unset !important;
}

    .card-highlight .card-img-top {
        /*min-height: 190px;
        height: 270px !important;*/
    }

    .card-highlight .card-main-title {
        position: absolute;
        background: #FFFFFF;
        font-weight: 800;
        font-size: 30px;
        color: #ed2025;
        top: -30px;
        border-radius: 5px;
        padding: 5px 46px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        text-align: center;
        border: 1px solid #CCCCCC;
        box-shadow: 5px 10px 18px #888888;
    }

    .card-highlight .card-main-outstanding-title {
        position: absolute;
        background: #FFFFFF;
        font-weight: 800;
        font-size: 16px;
        color: #ed2025;
        top: -30px;
        border-radius: 5px;
        padding: 5PX;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        text-align: center;
        border: 1px solid #CCCCCC;
        box-shadow: 5px 10px 18px #888888;
    }

    .card-highlight .card-text {
        text-align: center;
    }

.card-highlight-homepage {
    border: none !important;
}

    .card-highlight-homepage .card-title {
        font-size: 17px;
        text-align: center;
        font-weight: 600;
    }

.statistics {
    background-color: #2B4663;
    min-height: 165px;
    margin-top: 20px;
    border-radius: 4px;
    padding-top: 40px;
}

    .statistics .fa {
        font-size: 25px;
        color: #FFB600;
    }

    .statistics span.number {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 35px;
    }

    .statistics span.notes {
        color: #FFFFFF;
        font-size: 17px;
    }

.lnk-highlight {
    display: contents;
    color: #10b3de;
}

.talent-title {
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
}

.talent-detail-notes {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #B1022C;
    font-weight: 600;
    padding-left: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.text-white {
    color: #FFFFFF;
}

.low-fee .low-fee-title {
    font-weight: 700;
    font-size: 25px;
}

.card-fee-highlight {
    width: 18rem;
    border: none;
    /*box-shadow: 5px 10px 18px #888888;*/
}

    .card-fee-highlight .fa {
        font-size: 150px;
        text-align: center;
    }

.canada-true {
    margin-top: 30px;
    border-left: 8px solid #ed2025;
}

.footer {
    margin-top: 30px;
    background-image: url(../Content/images/footer1.jpg);
    min-height: 400px;
    padding: 30px 30px 0px 30px;
    color: #FFFFFF;
}

    .footer img {
        background-color: #FFFFFF;
        width: 90%;
        border-radius: 10px;
    }

.introduction-icon {
    /*text-align: center;
    border: 1px solid #cccccc;
    padding: 35px;
    transform: rotate(45deg);
    margin-bottom: 20px;*/
}

    .introduction-icon img {
        border: none;
    }

    .introduction-icon i {
        font-size: 75px;
        text-align: center;
        transform: rotate(-45deg);
    }

.red-background {
    background-color: #ed2025;
}

.canada-deserve-to-life {
    padding-left: 4%;
    padding-right: 4%;
}

    .canada-deserve-to-life .canada-deserve-to-life-title {
        font-weight: 700;
        font-size: 30px;
    }

        /*.canada-deserve-to-life .canada-deserve-to-life-title::before {
            content: url(../Content/images/left-bg.jpg);
            width: 40px;
        }*/

        .canada-deserve-to-life .canada-deserve-to-life-title p {
            color: #ed2025;
        }

    .canada-deserve-to-life .row img {
        height: 100%;
    }

    .canada-deserve-to-life .canada-deserve-to-life-introduction {
        padding-top: 40px !important;
    }

.main-line p {
    color: #006190;
    font-weight: 700;
    font-size: 30px;
    width: 95%;
}

.box-shadow-chatluongcuocsong {
    box-shadow: 8px 8px 1px 0px #FFCC33;
}

.box-shadow-quyencongdan {
    box-shadow: 8px 8px 1px 0px #669ACC;
}

.box-shadow-quyenluc {
    box-shadow: 8px 8px 1px 0px #66CCCE;
}

.box-shadow-mochodoanhnghiep {
    box-shadow: 8px 8px 1px 0px #FF6666;
}

.box-shadow-giaoduc {
    box-shadow: 8px 8px 1px 0px #99CC33;
}

.box-shadow-nuoidayconcai {
    box-shadow: 8px 8px 1px 0px #FF66FF;
}

.box-shadow-minhbach {
    box-shadow: 8px 8px 1px 0px #c3c4f1;
}

.box-shadow-trusochinhcuatongcongty {
    box-shadow: 8px 8px 1px 0px #F2C399;
}

.box-shadow-phunu {
    box-shadow: 8px 8px 1px 0px #ed2025;
}

.ranking-criteria {
    color: #ed2025;
    font-weight: 600;
    font-size: 32px;
}

.center-note {
    font-weight: 700;
    position: absolute;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    left: 15px;
    right: 0;
    /* margin-left: auto; */
    /* margin-right: auto; */
    bottom: 0;
    background-color: #006190;
    margin-bottom: 0;
    width: 93%;
    opacity: 0.8;
    border-left: 3px solid red;
}

.outstanding-form {
    margin-top: 50px;
}

    .outstanding-form .row,
    .outstanding-form-violet .row,
    .outstanding-form-orrange .row {
        margin-bottom: 15px;
    }

    .outstanding-form i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.outstanding-form-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}

    .outstanding-form-footer input {
        padding: 5px 60px;
        border-radius: 30px;
        background-color: #c7c7e2;
        font-size: 20px;
        background-image: linear-gradient(to right, #1000ff, #b8bcef);
        color: #FFFFFF;
        border: none;
    }

.outstanding-form-violet {
    margin-top: 50px;
}

    .outstanding-form-violet i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.outstanding-form-violet-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}


    .outstanding-form-violet-footer input {
        padding: 5px 60px;
        border-radius: 30px;
        background-color: #c7c7e2;
        font-size: 20px;
        background-image: linear-gradient(to right, #9c27b0, #b8bcef);
        color: #FFFFFF;
        border: none;
    }

.outstanding-form-orrange {
    margin-top: 50px;
}

    .outstanding-form-orrange i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.outstanding-form-orrange-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}


    .outstanding-form-orrange-footer input {
        padding: 5px 60px;
        border-radius: 30px;
        background-color: #c7c7e2;
        font-size: 20px;
        background-image: linear-gradient(to right, #f44336, #b8bcef);
        color: #FFFFFF;
        border: none;
    }

.document-handling {
    background-image: url(../Content/images/document-handling-background.png);
    background-size: cover;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    min-height: 500px;
    padding-top: 35px !important;
}

    .document-handling:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #1a5c9c 0%, #6fadda 100%);
        opacity: 0.7;
    }

    .document-handling .document-handling-pri-text {
        font-weight: 700;
        text-align: center;
        padding: 20px 20px 10px 20px;
        color: #FFFFFF;
        font-size: 30px;
    }

    .document-handling .document-handling-sec-text {
        text-align: center;
    }

.document-handling-section-detail {
    margin-top: 50px;
}

    .document-handling-section-detail i {
        font-size: 45px;
        color: #96dbff;
    }

    .document-handling-section-detail .document-handling-section-detail-sec-text {
        font-size: 13px;
        padding-left: 0;
    }

    .document-handling-section-detail .document-handling-section-detail-sec-title {
        font-weight: bold;
        margin-bottom: 0px;
    }

.canada-map-des {
    position: absolute;
    right: 22%;
    top: 0;
}

    .canada-map-des .canada-map-first-text {
        color: #ed2025;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .canada-map-des .canada-map-sec-text {
        font-weight: 700;
        font-size: 20px;
        color: #006190;
    }

.contact-form {
    /* background-image: url(../Content/images/Lienhe.jpg); */
    min-height: 630px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-form-fields {
    background-color: #FFFFFF;
    padding: 10px 10px 0px 24px;
    text-align: center;
    border-radius: 5px;
    height: 280px;
}

.btn-sendmail {
    background-color: #ed2025;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 40px;
    border: none;
}

.document-handling-container {
    padding: 40px 0 0 0;
}

    .document-handling-container > div {
        padding-left: 4%;
    }

    .document-handling-container hr {
        margin-left: 3%;
    }

.section-interested {
    padding-left: 8%;
}

    .section-interested .interested-main-surground {
        width: 80px;
        height: 80px;
        text-align: center;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px #cd2122;
        position: relative;
    }


    .section-interested .interested-main-icon {
        font-size: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #cd2122;
        transition: color .2s ease-out .1s;
    }

.main-interested-section:hover .interested-main-surground {
    box-shadow: inset 0 0 0 40px #cd2122;
    transition: all .15s ease-out;
}

.main-interested-section .interested-main-surground:after {
    content: '';
    position: absolute;
    top: 80px;
    left: 40px;
    height: calc(200% - 20px);
    width: 1px;
    background-color: rgba(0,0,0,.07);
}

.main-interested-section:hover .interested-main-surground .interested-main-icon {
    color: #FFF;
    transition: color .2s ease-out .1s;
}

.btn-interested {
    background-color: #cd2122;
}

    .btn-interested:hover {
        background-color: #66020E;
    }

.pad-left35px {
    padding-left: 35px;
}

.pad-left30px {
    padding-left: 30px;
}

.interested-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.news-line-top {
    margin-top: 85px;
    border-width: 2px;
    border-color: #cd2122;
}

.main-text-foot {
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 12px;
    text-transform: uppercase;
    white-space: nowrap;
}

.sec-text-foot {
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 10px;
}

.contact-info-line {
    border-color: #ffffff;
    width: 50%;
    text-align: left;
    . margin-left: 0;
    border-width: 2px;
}

.footer .client-support a {
    color: #FFFFFF;
}

.canada-visa-copy-right {
    background-color: #780001;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 2;
    font-size: 18px;
}

.row .col-sm-12 {
    padding: 0 6%;
}

.img-left-icon {
    width: 30px;
    height: 30px !important;
    margin-left: -10px;
    margin-top: 10px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.service-search-container {
    position: relative;
    /*height: 125px;*/
}

.search-criteria {
    position: absolute;
    width: 70%;
    top: -50px;
    left: 15%;
    background-color: #FFFfff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
}

.immigration-service-type-title {
    color: #006190 !important;
}

.service-search-container .search-criteria .text-search,
.service-search-container .work-search-criteria .text-search {
    display: unset;
    width: 90%;
}

.service-search-container .search-criteria .btn-search,
.service-search-container .work-search-criteria .btn-search {
    background-color: #dca447;
    border: none;
}

.work-search-container .search-criteria {
    top: 628px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
}

.work-search-container .work-logo {
    width: 100%;
    height: 750px;
}

.news-container .news-logo {
    width: 100%;
}

.work-search-container .work-detail-title {
    font-size: 15px;
    font-size: 22px;
}

.work-search-container .search-result i {
    font-size: 20px;
    color: #96dbff;
    width: 25px;
}

.work-search-container .search-result .work-ads {
    position: sticky;
    top: 0px;
}

    .work-search-container .search-result .work-ads img {
        height: 350px;
        width: 100%;
    }

.work-search-container .work-item-detail {
    /*box-shadow: 5px 10px 18px #888888;*/
    border-radius: 5px;
    border: 1px solid #f7eeee;
}

    .work-search-container .work-item-detail img.img-thumbnail {
        border: none;
    }

.work-grey-bk {
    background-color: #cac0c026;
}

.work-while-bk {
    background-color: #FFFFFF;
}

#btnWorkDetail {
    background: #FFFFFF;
    border: 1px #f7d8d8 solid;
    padding: 4px 25px;
    border-radius: 4px;
    font-weight: 600;
}

.btn-view-all-services {
    border: 1px #ccd49e solid;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    color: #756f6f;
}

    .btn-view-all-services:hover {
        text-decoration: none;
    }

.service-detail-container .general-info {
    font-size: 14px;
}

    .service-detail-container .general-info i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.works-container i {
    width: 25px;
    color: #96dbff;
    margin-right: 5px;
    font-size: 20px;
}

.fee-border-left {
    border-left: 1px solid #ccc;
}

.right-contact {
    width: 100%;
    padding: 24px 24px 0;
    -webkit-box-shadow: 0 2px 16px 0 rgb(170 170 170 / 20%);
    box-shadow: 0 2px 16px 0 rgb(170 170 170 / 20%);
    border: solid 1px rgba(204,204,204,.4);
    padding-bottom: 20px;
    position: sticky;
    top: 30px;
}

.suppor-already-title {
    font-size: 15px;
}

.suppor-already-title-sec {
    font-size: 14px;
    color: #ccc;
}

.work-detail-img {
    height: 235px;
}

.btn-call-support {
    background-color: #c72528;
    color: #FFFFFF;
}

    .btn-call-support:hover {
        color: #FFFFFF;
    }

.chat-to-revert {
    color: #337588;
}

    .chat-to-revert:hover {
        text-decoration: none;
        color: #265765;
    }

.real-estate {
    position: relative;
    display: block;
    width: 100%;
    margin: 30px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 1rem;
    line-height: .1px;
    font-weight: 400;
    color: #838383;
}

    .real-estate span {
        background: #fff;
        padding: 0 6px;
    }

.works-container .works-container-title {
    color: #006190 !important;
    font-weight: 700;
    font-size: 30px;
}

.works-container .work-item-main-title {
    font-size: 25px;
    font-weight: 700;
}

.works-container .work-item-sec-title {
    font-size: 14px;
    color: #718bea;
}

.works-container .card-highlight {
    min-height: 33rem;
}

.works-form-footer input {
    padding: 5px 60px;
    border-radius: 5px;
    background-color: #c7c7e2;
    font-size: 20px;
    border: none;
    font-weight: 700;
    color: #3e3939;
}

.work-search-container .work-search-criteria {
    background-color: #FFFFFF;
    margin-top: -140px;
    padding: 10px;
}

.works-form-footer hr {
    width: 91%;
}

.work-defail-container {
    background-color: #f6f6f6;
}

    .work-defail-container .work-detail-block {
        background-color: #FFFFFF;
        padding: 0 15px 30px 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

        .work-defail-container .work-detail-block hr {
            width: 91%;
        }

        .work-defail-container .work-detail-block i {
            font-size: 20px;
            color: #96dbff;
            width: 25px;
        }

        .work-defail-container .work-detail-block .btn i {
            color: #5a5757 !important;
        }

        .work-defail-container .work-detail-block .work-detail-content {
            color: #3ab7f9;
            font-size: 15px;
            font-weight: 500;
            padding-top: 15px;
        }

    .work-defail-container .work-detail-banner img {
        width: 100%;
        height: 400px !important;
    }

.btn-work {
    background-color: #FFFFFF;
    color: #5a5757;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.plane-ads-bg {
    background-image: url(../Content/images/plane-bg.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 70%;
}

    .plane-ads-bg img {
        width: 480px;
    }

    .plane-ads-bg .first-line {
        color: #FFFFFF;
        padding-top: 30px;
        font-size: 40px;
        font-weight: 600;
    }

    .plane-ads-bg .second-line span:first-child {
        color: #FFFFFF;
        padding-top: 30px;
        font-size: 40px;
        font-weight: 600;
    }

    .plane-ads-bg .second-line span:nth-child(2) {
        color: #ed2025;
        padding-top: 30px;
        font-size: 40px;
        font-weight: 600;
    }

.search-result .pagination {
    display: flex;
    justify-content: center;
}

.slogon-main {
    font-size: 20px;
    font-weight: 500;
}

.line-box-main-text {
    color: #006190;
    font-weight: 600;
    font-size: 20px;
}

    .line-box-main-text + hr {
        width: 30%;
        border-top: 2px solid #ed2025;
        margin-top: -1px;
        margin-left: 16px;
        height: 0px;
    }

.cb {
    clear: both;
}

.hide {
    display: none !important;
}

.line-box-text-content {
    font-size: 15px;
}

.work-permit-container .card-highlight {
    min-height: 30rem !important;
}

.row-business-condition img {
    border-radius: 5px;
}

.row-business-condition i {
    color: #ed2025;
    font-weight: 600;
    font-size: 25px;
}

.document-temporary-canada {
    color: #ed2025 !important;
    font-size: 27px !important;
    margin-top: -25px;
}

.btn-more-red {
    background-color: #c82333;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 5px 20px;
    border: none;
    font-size: 18px;
}

.news-sub-menu {
    box-shadow: 5px 4px 18px #cdcdcd;
    border-radius: 5px;
}

    .news-sub-menu .sub-menu-item {
        font-size: 14px;
        font-weight: 600;
        padding: 15px 0;
        color: #84848e;
    }

    .news-sub-menu .news-main-menu-item {
        background-color: #ed2025;
        width: 80%;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        top: -18px;
        border-radius: 25px 3px 25px 3px;
        padding: 4px 58px 4px 25px;
        line-height: 1.2;
    }

    .news-sub-menu .sub-menu-item a {
        color: #84848e;
    }

        .news-sub-menu .sub-menu-item a:hover {
            color: #84848e;
            text-decoration: none;
        }

.sub-menu-active:after {
    content: "";
    display: block;
    width: 30%;
    border-bottom: 3px solid #efb2b2;
}

.margin-auto {
    margin: auto;
}

.news-index .news-info {
    position: absolute;
    bottom: 0;
    background-color: #0B5E86;
    width: 94.6%;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    padding-left: 15px;
    padding-bottom: 10px;
    border-left: 6px solid #ed2025;
    opacity: 0.8;
}

    .news-index .news-info .new-sec-info {
        font-size: 15px;
        font-style: italic;
        font-weight: normal;
        height: 36px;
        padding-top: 10px;
    }

.news-immigration-story .news-info .new-sec-info .count-seen {
    margin-left: -10px;
}

.news-index .new-info-sec-line .news-info {
    font-size: 15px;
    padding-left: 5px;
    width: 89.4%;
    padding-top: 6px;
}

    .news-index .new-info-sec-line .news-info .new-sec-info {
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
        height: 35px;
    }

        .news-index .new-info-sec-line .news-info .new-sec-info .count-seen {
            margin-left: -30px;
        }

.news-immigration-story .new-info-sec-line .news-info .new-sec-info .count-seen {
    margin-left: -10px;
}

.news-study-aboard .new-info-sec-line .news-info .new-sec-info .count-seen {
    margin-left: -10px;
}

.count-seen {
    background-image: url(../Content/images/seen.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 19px;
    color: #FFFFFF;
    width: 45px;
    font-size: 11px;
    margin-left: -40px;
    margin-right: 5px;
    padding-top: 1px;
}

.count-like {
    background-image: url(../Content/images/like.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 19px;
    color: #FFFFFF;
    width: 45px;
    font-size: 11px;
    margin-right: 5px;
    padding-top: 1px;
}

.count-message {
    background-image: url(../Content/images/message.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 19px;
    color: #FFFFFF;
    width: 45px;
    font-size: 11px;
    margin-right: 5px;
    padding-top: 1px;
}

.news-list-container .news-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.news-list-container .news-item-title {
    color: #006190;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 5px;
}

.news-list-container .news-item-sec-title {
    color: #006190;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 10px;
}

.news-list-container .by-canada-visa {
    font-style: italic;
    color: #948989;
    padding-bottom: 15px;
}

.news-list-container .news-item .count-seen,
.news-list-container .news-item .count-like,
.news-list-container .news-item .count-message {
    margin-left: 0px;
    background-size: contain;
    padding-left: 19px !important;
}

.read-more {
    color: #006190;
}

.news-container .news-ads {
    /*position: sticky;
    top: 0px;*/
}

.one-third-news-item {
    width: 30.45%;
    margin-right: 0px;
    margin-right: 15px;
}

    .one-third-news-item:last-child {
        width: 34%;
    }

.news-immigration-story .news-info {
    position: absolute;
    bottom: 0;
    background-color: #0B5E86;
    width: 96%;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    padding-left: 15px;
    border-left: 6px solid #ed2025;
    opacity: 0.9;
}

.news-immigration-story .one-and-a-half-banner-item .news-info {
    position: absolute;
    bottom: 0;
    background-color: #0B5E86;
    width: 100%;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 600;
    padding-left: 15px;
    border-left: 6px solid #ed2025;
    opacity: 0.9;
}

    .news-immigration-story .one-and-a-half-banner-item .news-info .new-sec-info {
        font-size: 15px;
        font-style: italic;
        font-weight: normal;
    }

.news-immigration-story .one-and-a-half-banner-item .count-like,
.news-immigration-story .one-and-a-half-banner-item .count-seen,
.news-immigration-story .one-and-a-half-banner-item .count-message {
    padding-left: 20px;
}

.news-study-aboard .one-two-news-item .news-info {
    width: 97.5%;
}

.news-politics .new-item-main-title {
    color: #84848e;
    font-size: 25px;
    font-weight: 600;
}

.news-politics .new-item-main-title-left {
    color: #84848e;
    font-size: 20px;
    font-weight: 600;
}

.grey-text-color {
    color: #84848e;
}

.news-politics .left-banner {
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
}

.news-politics .right-banner {
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
}

.personal-support {
    width: 60px;
    height: 60px;
}

.border-right-red {
    border-right: 4px solid #ed2025;
}

.social-box-like {
    background-color: #f13f66;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 10px;
    max-width: 23.5%;
    height: 25px;
    font-size: 12px;
    padding-top: 3px;
}

.social-box-facebook {
    background-color: #2172dc;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 10px;
    max-width: 23.5%;
    height: 25px;
    font-size: 11px;
    padding-top: 3px;
}

.social-box-email {
    background-color: #999999;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 10px;
    max-width: 23.5%;
    height: 25px;
    font-size: 11px;
    padding-top: 3px;
}

.social-box-print {
    background-color: #e5332f;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 10px;
    max-width: 23.5%;
    height: 25px;
    font-size: 11px;
    padding-top: 3px;
}

    .social-box-like i,
    .social-box-facebook i,
    .social-box-email i,
    .social-box-print i {
        padding-left: 3px;
    }

.latest-news-container {
    background-color: #f9f9f9;
    margin-top: 20px;
}

    .latest-news-container img {
        width: 40px;
        height: 40px !important;
    }

    .latest-news-container a {
        color: #000000;
    }

    .latest-news-container marquee .block-scroll-content {
        display: contents;
        margin-right: 30px;
        float: left;
    }

.latest-news {
    background-color: #ff4181;
    font-weight: 600;
    padding: 10px !important;
    color: #FFFFFF;
    font-size: 20px;
}

.image-title-link:hover {
    cursor: pointer;
}

.slide-news-item:hover {
    cursor: pointer;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.display-table {
    display: table;
}

.vertical-middle {
    display: table-cell !important;
    vertical-align: middle;
}

.red-main {
    color: #ed2025;
}

.check-evaluate {
    background-color: #FFFFFF;
}

    .check-evaluate table {
        height: 100%;
        background-color: #f5f5f5;
    }

        .check-evaluate table tr td {
            padding: 0 0.75rem;
        }

            .check-evaluate table tr td.evaluate-icon {
                vertical-align: middle;
            }

                .check-evaluate table tr td.evaluate-icon i {
                    font-size: 50px;
                    color: #ed2025;
                }

    .check-evaluate .eveluate-text {
        color: #ed2025;
        font-size: 25px;
    }

.study-abroad-canada .study-abroad-canada-text {
    color: #497bb3;
    font-size: 25px;
}

.study-abroad-canada table tr td.study-abroad-canada-icon {
    vertical-align: middle;
}

    .study-abroad-canada table tr td.study-abroad-canada-icon i {
        font-size: 50px;
        color: #497bb3;
    }

.login {
    background-color: #f5f5f5;
    border-right: 2px solid #e9e9e9;
}

    .login table tr td {
        color: #497bb3;
        padding: 12px 0 0 0;
        font-size: 20px;
        font-weight: 700;
    }

        .login table tr td i {
            font-size: 35px;
        }

.logout {
    background-color: #f5f5f5;
}

    .logout table tr td {
        color: #497bb3;
        padding: 12px 0 0 0;
        font-size: 20px;
        font-weight: 700;
    }

        .logout table tr td i {
            font-size: 35px;
        }

#state-flag img {
    width: 19%;
    height: 140px;
}

.text-search-free-evaluate button,
.text-search-free-evaluate .input-group-prepend {
    color: #FFFFFF;
    background-image: linear-gradient(to right, #16eb1d, green);
}

.gold-opportunity p {
    font-size: 25px;
}

.gold-opportunity i {
    color: #0feb16;
}

.gold-opportunity img {
    width: 75%;
    border: none;
}

.gold-opportunity .contact-us-image img {
    width: 25%;
    float: left;
    margin-right: 5px;
}

.why-choose-us {
    
}

    .why-choose-us i {
        font-size: 45px;
        color: #ed2025;
    }

.why-choose-us-grey-bk {
    background-color: #f1f3f2;
    padding-bottom: 30px;
}

    .why-choose-us-grey-bk p {
        font-size: 25px;
        margin-left: -30px;
    }
/* Support for client - BEGIN */
table.text-editor-supported {
    border: 0;
}

    table.text-editor-supported tr td {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E0E0E0;
        vertical-align: text-top;
    }

        table.text-editor-supported tr td:first-child {
            width: 30%;
            font-weight: bolder;
        }
/* Support for client - END */
