body {
}

.top-banner {
    background-color: #99CCFF;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 2.3;
    margin-right: 0;
}

.main-logo {
    width: 120px;
}

.slogan {
    color: #000099;
    font-weight: 600;
    font-size: 25px;
    margin-left: -100px;
    padding-top: 40px;
}

.main-menu {
    /* background-color: #E9E9E9; */
    font-weight: 600;
    font-size: 15px;
    line-height: 4;
    padding-left: 15px;
}

    .main-menu .menu-item {
        margin-right: 30px;
        border-top-width: 0px;
        border-top-style: solid;
        border-top-color: #FFFFFF;
        transition: all 0.5s;
    }

        .main-menu .menu-item:hover,
        .main-menu .menu-item:active {
            border-top-width: 3px;
            border-top-color: #ed2025;
        }

        .main-menu .menu-item a {
            color: #ed2025;
        }

            .main-menu .menu-item a:hover {
                text-decoration: none;
            }

.full-width {
    width: 100%;
}

.introduction {
    color: #FFFFFF;
    background-color: #1A9BD7;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    margin-top: -90px;
}

#divCanadaDetails,
#divCanadaStates {
    position: absolute;
    width: 60vw;
    background-color: #f0f8fb;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 2px;
}

#divImmigrationService {
    position: absolute;
    width: 40vw;
    background-color: #f0f8fb;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 2px;
}

.pos-rel {
    position: relative;
}

.canada-detail-background {
    background-color: #0E386C;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0;
}

    .canada-detail-background .main-pri-text {
        font-size: 15px;
        line-height: 2;
        padding-left: 10px;
    }

    .canada-detail-background .secondary-text {
        line-height: 2;
        padding-left: 10px;
    }

.pri-text {
    font-weight: 700;
    line-height: 2;
    color: #000000;
    font-size: 12px;
}

.sec-text {
    line-height: 1.5;
    font-size: 13px;
    color: slategray;
    font-size: 10px;
}

.bor-right {
    border-right: 1px solid #CCC;
}

.remove-width {
    width: unset !important;
}

.remove-paddingleft {
    padding-left: 0px;
}

.pad-left65px {
    padding-left: 65px;
}

.pad-right30px {
    padding-right: 30px;
}

.pad-bot10px {
    padding-bottom: 10px;
}

.pad-top40px {
    padding-top: 40px;
}

.pad-top20px {
    padding-top: 20px;
}

.pad-bot10px {
    padding-bottom: 10px;
}

.pad-top85px {
    padding-top: 85px;
}

.mar-bottom30px {
    margin-bottom: 30px;
}

.mar-bottom60px {
    margin-bottom: 60px;
}

.mar-bottom3px {
    margin-bottom: 3px;
}

.mar-right3px {
    margin-right: 3px;
}

.mar-botttom6px {
    margin-bottom: 6px;
}

.mar-top25px {
    margin-top: 25px;
}

.mar-top60px {
    margin-top: 60px;
}

.main-banner {
    /*background-image: url(../Content/images/banner-homepage.png);*/
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header {
    /*background-image: url(../Content/images/Banner.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.default-banner {
    background-image: url(../Content/images/Banner.jpg);
}

.service-banner {
    background-image: url(../Content/images/ServiceBanner.jpg);
}

.homepage-title-service {
    font-size: 30px;
    font-weight: 700;
    margin-top: 55px;
    color: blue;
}

.homepage-title-settle {
    background-color: #003470;
    color: #FFFFFF;
    padding: 0px 1px 0px 3px;
    font-weight: 600;
    font-size: 30px;
    border-radius: 4px;
    width: 75%;
}

.homepage-title-canada {
    color: #FD0000;
    font-weight: bolder;
    font-size: 80px;
    line-height: 1;
}

.homepage-title-success {
    color: #006190;
    font-size: 18px;
    font-weight: 600;
}

.market-title {
    color: #ed2025;
    font-size: 25px;
    font-weight: 700;
    padding-top: 100px;
}

.homepage-contact-button input {
    background: #1B1464;
    color: #FFFFFF;
    padding: 5px 22px;
    border-radius: 5px;
    margin-top: 12px;
    border: none;
}

.hoz-line {
    border-bottom: 3px solid #ed2025;
    width: 20%;
    margin: unset;
    border-top: none;
}

.hoz-line-fee {
    border-bottom: 3px solid #ed2025;
    width: 10%;
    margin: unset;
    border-top: none;
}

.card-highlight {
    width: 20rem;
    min-height: 33rem;
    box-shadow: 5px 10px 18px #888888;
    font-size: 12px;
    width: 100%;
    border: unset !important;
}

    .card-highlight .card-img-top {
        /*min-height: 190px;
        height: 270px !important;*/
    }

    .card-highlight .card-main-title {
        position: absolute;
        background: #FFFFFF;
        font-weight: 800;
        font-size: 30px;
        color: #ed2025;
        top: -30px;
        border-radius: 5px;
        padding: 5px 46px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        text-align: center;
        border: 1px solid #CCCCCC;
        box-shadow: 5px 10px 18px #888888;
    }

    .card-highlight .card-main-outstanding-title {
        position: absolute;
        background: #FFFFFF;
        font-weight: 800;
        font-size: 16px;
        color: #ed2025;
        top: -30px;
        border-radius: 5px;
        padding: 5PX;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        text-align: center;
        border: 1px solid #CCCCCC;
        box-shadow: 5px 10px 18px #888888;
    }

    .card-highlight .card-text {
        text-align: center;
    }

.card-highlight-homepage {
    border: none !important;
}

    .card-highlight-homepage .card-title {
        font-size: 17px;
        text-align: center;
        font-weight: 600;
    }

.statistics {
    background-color: #2B4663;
    min-height: 165px;
    margin-top: 20px;
    border-radius: 4px;
    padding-top: 40px;
}

    .statistics .fa {
        font-size: 25px;
        color: #FFB600;
    }

    .statistics span.number {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 35px;
    }

    .statistics span.notes {
        color: #FFFFFF;
        font-size: 17px;
    }

.lnk-highlight {
    display: contents;
    color: #10b3de;
}

.talent-title {
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
}

.talent-detail-notes {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #B1022C;
    font-weight: 600;
    padding-left: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.text-white {
    color: #FFFFFF;
}

.low-fee .low-fee-title {
    font-weight: 700;
    font-size: 25px;
}

.card-fee-highlight {
    width: 18rem;
    border: none;
    /*box-shadow: 5px 10px 18px #888888;*/
}

    .card-fee-highlight .fa {
        font-size: 150px;
        text-align: center;
    }

.canada-true {
    margin-top: 30px;
    border-left: 8px solid #ed2025;
}

.footer {
    margin-top: 30px;
    background-image: url(../Content/images/footer1.jpg);
    min-height: 400px;
    padding: 30px 30px 0px 30px;
    color: #FFFFFF;
}

    .footer img {
        background-color: #FFFFFF;
        width: 90%;
        border-radius: 10px;
    }

.introduction-icon {
    /*text-align: center;
    border: 1px solid #cccccc;
    padding: 35px;
    transform: rotate(45deg);
    margin-bottom: 20px;*/
}

    .introduction-icon img {
        border: none;
    }

    .introduction-icon i {
        font-size: 75px;
        text-align: center;
        transform: rotate(-45deg);
    }

.red-background {
    background-color: #ed2025;
}

.canada-deserve-to-life {
    padding-left: 4%;
    padding-right: 4%;
}

    .canada-deserve-to-life .canada-deserve-to-life-title {
        font-weight: 700;
        font-size: 30px;
    }

        /*.canada-deserve-to-life .canada-deserve-to-life-title::before {
            content: url(../Content/images/left-bg.jpg);
            width: 40px;
        }*/

        .canada-deserve-to-life .canada-deserve-to-life-title p {
            color: #ed2025;
        }

    .canada-deserve-to-life .row img {
        height: 100%;
    }

    .canada-deserve-to-life .canada-deserve-to-life-introduction {
        padding-top: 40px !important;
    }

.box-shadow-chatluongcuocsong {
    box-shadow: 8px 8px 1px 0px #FFCC33;
}

.box-shadow-quyencongdan {
    box-shadow: 8px 8px 1px 0px #669ACC;
}

.box-shadow-quyenluc {
    box-shadow: 8px 8px 1px 0px #66CCCE;
}

.box-shadow-mochodoanhnghiep {
    box-shadow: 8px 8px 1px 0px #FF6666;
}

.box-shadow-giaoduc {
    box-shadow: 8px 8px 1px 0px #99CC33;
}

.box-shadow-nuoidayconcai {
    box-shadow: 8px 8px 1px 0px #FF66FF;
}

.box-shadow-minhbach {
    box-shadow: 8px 8px 1px 0px #c3c4f1;
}

.box-shadow-trusochinhcuatongcongty {
    box-shadow: 8px 8px 1px 0px #F2C399;
}

.box-shadow-phunu {
    box-shadow: 8px 8px 1px 0px #ed2025;
}

.ranking-criteria {
    color: #ed2025;
    font-weight: 600;
    font-size: 32px;
}

.center-note {
    font-weight: 700;
    position: absolute;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    left: 15px;
    right: 0;
    /* margin-left: auto; */
    /* margin-right: auto; */
    bottom: 0;
    background-color: #006190;
    margin-bottom: 0;
    width: 93%;
    opacity: 0.8;
    border-left: 3px solid red;
}

.outstanding-form {
    margin-top: 50px;
}

    .outstanding-form .row,
    .outstanding-form-violet .row,
    .outstanding-form-orrange .row {
        margin-bottom: 15px;
    }

    .outstanding-form i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.outstanding-form-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}

    .outstanding-form-footer input {
        padding: 5px 60px;
        border-radius: 30px;
        background-color: #c7c7e2;
        font-size: 20px;
        background-image: linear-gradient(to right, #1000ff, #b8bcef);
        color: #FFFFFF;
        border: none;
    }

.outstanding-form-violet {
    margin-top: 50px;
}

    .outstanding-form-violet i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.outstanding-form-violet-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}


    .outstanding-form-violet-footer input {
        padding: 5px 60px;
        border-radius: 30px;
        background-color: #c7c7e2;
        font-size: 20px;
        background-image: linear-gradient(to right, #9c27b0, #b8bcef);
        color: #FFFFFF;
        border: none;
    }

.outstanding-form-orrange {
    margin-top: 50px;
}

    .outstanding-form-orrange i {
        font-size: 20px;
        color: #96dbff;
        margin-right: 5px;
    }

.outstanding-form-orrange-footer {
    display: block;
    text-align: center;
    margin-top: 30px;
}


    .outstanding-form-orrange-footer input {
        padding: 5px 60px;
        border-radius: 30px;
        background-color: #c7c7e2;
        font-size: 20px;
        background-image: linear-gradient(to right, #f44336, #b8bcef);
        color: #FFFFFF;
        border: none;
    }

.document-handling {
    background-image: url(../Content/images/document-handling-background.png);
    background-size: cover;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    min-height: 500px;
    padding-top: 35px !important;
}

    .document-handling:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #1a5c9c 0%, #6fadda 100%);
        opacity: 0.7;
    }

    .document-handling .document-handling-pri-text {
        font-weight: 700;
        text-align: center;
        padding: 20px 20px 10px 20px;
        color: #FFFFFF;
        font-size: 30px;
    }

    .document-handling .document-handling-sec-text {
        text-align: center;
    }

.document-handling-section-detail {
    margin-top: 50px;
}

    .document-handling-section-detail i {
        font-size: 45px;
        color: #96dbff;
    }

    .document-handling-section-detail .document-handling-section-detail-sec-text {
        font-size: 13px;
        padding-left: 0;
    }

    .document-handling-section-detail .document-handling-section-detail-sec-title {
        font-weight: bold;
        margin-bottom: 0px;
    }

.canada-map-des {
    position: absolute;
    right: 22%;
    top: 0;
}

    .canada-map-des .canada-map-first-text {
        color: #ed2025;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .canada-map-des .canada-map-sec-text {
        font-weight: 700;
        font-size: 20px;
        color: #006190;
    }

.contact-form {
    /* background-image: url(../Content/images/Lienhe.jpg); */
    min-height: 630px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-form-fields {
    background-color: #FFFFFF;
    padding: 10px 10px 0px 24px;
    text-align: center;
    border-radius: 5px;
    height: 280px;
}

.btn-sendmail {
    background-color: #ed2025;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 40px;
    border: none;
}

.document-handling-container {
    padding: 40px 0 0 0;
}

    .document-handling-container > div {
        padding-left: 4%;
    }

    .document-handling-container hr {
        margin-left: 3%;
    }

.section-interested {
    padding-left: 8%;
}

    .section-interested .interested-main-surground {
        width: 80px;
        height: 80px;
        text-align: center;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px #cd2122;
        position: relative;
    }


    .section-interested .interested-main-icon {
        font-size: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #cd2122;
        transition: color .2s ease-out .1s;
    }

.main-interested-section:hover .interested-main-surground {
    box-shadow: inset 0 0 0 40px #cd2122;
    transition: all .15s ease-out;
}

.main-interested-section .interested-main-surground:after {
    content: '';
    position: absolute;
    top: 80px;
    left: 40px;
    height: calc(200% - 20px);
    width: 1px;
    background-color: rgba(0,0,0,.07);
}

.main-interested-section:hover .interested-main-surground .interested-main-icon {
    color: #FFF;
    transition: color .2s ease-out .1s;
}

.btn-interested {
    background-color: #cd2122;
}

    .btn-interested:hover {
        background-color: #66020E;
    }

.pad-left35px {
    padding-left: 35px;
}

.interested-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.news-line-top {
    margin-top: 85px;
    border-width: 2px;
    border-color: #cd2122;
}

.main-text-foot {
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 12px;
    text-transform: uppercase;
    white-space: nowrap;
}

.sec-text-foot {
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 10px;
}

.contact-info-line {
    border-color: #ffffff;
    width: 50%;
    text-align: left;
    . margin-left: 0;
    border-width: 2px;
}

.footer .client-support a {
    color: #FFFFFF;
}

.canada-visa-copy-right {
    background-color: #780001;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 2;
    font-size: 18px;
}

.row .col-sm-12 {
    padding: 0 6%;
}

.img-left-icon {
    width: 30px;
    height: 30px !important;
    margin-left: -10px;
    margin-top: 10px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.service-search-container {
    position: relative;
    /*height: 125px;*/
}

.search-criteria {
    position: absolute;
    width: 70%;
    top: -50px;
    left: 15%;
    background-color: #FFFfff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
}

.immigration-service-type-title {
    color: #000099 !important;
}

.service-search-container .search-criteria .text-search {
    display: unset;
    width: 90%;
}

.service-search-container .search-criteria .btn-search {
    background-color: #dca447;
    border: none;
}

.btn-view-all-services {
    border: 1px #ccd49e solid;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    color: #756f6f;
}

    .btn-view-all-services:hover {
        text-decoration: none;
    }

.service-detail-container .general-info i {
    font-size: 20px;
    color: #96dbff;
    margin-right: 5px;
}
