@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang Alberta";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Alberta/2_alberta_canadavisa.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">ALBERTA</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Alberta là tỉnh cực tây thứ hai ở Canada, chia sẽ dãy núi Rocky với British-Columbia về phía Tây , Saskatchewan về phía Đông và lãnh thổ Tây Bắc  ở phía Bắc
                    <br /><br />
                    Khí hậu ở Alberta thường rất đa dạng, trải qua bốn mùa rõ rệt. Người Altertans quen với mùa đông lạnh giá, dao động trong khoảng -5 đến -15 độ C (đôi khi lạnh đến -30 đến -40 độ C, ở các khu vực phía Bắc).
                    Tuy nhiên, Alberta cũng có những tháng mùa hè khá ấm áp, với nhiệt độ lên tới 20 đến 25 độ C.

                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Edmonton</div>
                    <div class="offset-1 text-red col-sm-7">Calgary</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">661.848 km2</div>
                    <div class="offset-1 text-red col-sm-7">4,428,112</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">ALBERTA</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Alberta là quê hương của những bãi cát dầu Athabasca và nổi tiếng với các ngành công nghiệp khai thác và khí đốt tự nhiên. Tuy nhiên, ngoài điều này, tỉnh còn có nhiều
                    ngành kinh tế đang phát triển khác. Dưới đây là một số ngành công nghiệp phát triển nhanh nhất của Alberta, ngoài sản xuất dầu khí: xây dựng tài chính, bảo hiểm và
                    bất động sản, kinh doanh và dịch vụ thương mại , nông nghiệp và lâm nghiệp. 

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Alberta/3_alberta_canada_visa.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/Alberta/4_calgary_alberta_canada_visa.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/Alberta/5_Edmonton_Alberta.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/Alberta/6_Fredericton_Alberta.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC ALBERTA</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Alberta cũng là nơi có những trường đại học đẳng cấp thế giới với số lượng sinh viên quốc tế lớn. Các trường đại học Alberta (Edmonton, AB) và đại học Calgary (Calgary, AB)
                    là một số lưu ý lớn nhất và nổi tiếng nhất trên địa bàn tỉnh. 
                    <br /><br />
                    Alberta có một hệ thống giáo dục nổi tiếng, từ mẫu giáo đến các trường đại học, nơi sản xuất các nghiên cứu hàng đầu thế giới. Tại Canada, tất cả công dân và thường trú nhân dưới
                    20 tuổi được học miễn phí cho đến hết cấp 3 thông qua hệ thống trường công lập. Khi bạn chuyển đến Alberta, con cái của bạn sẽ có những lựa chọn về trường học khác nhau, tất cả 
                    đều được hỗ trợ từ tiền thuế và không có phí. 

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Alberta/7_1_alberta_canada_visa.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListAlberta", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>