@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang Manitoba";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Manitoba/2-map-manitoba.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">MANITOBA</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Tỉnh Manitoba nằm ở trung tâm của Canada. Vị trí trung tâm của nó kết nối các bờ biển phía đông và phía tây của đất nước thông qua giao thương và vận tải rộng rãi. 
                    Manitoba giáp với Saskatchewan ở phía Tây, Ontario nhộn nhịp ở phía Đông và lãnh thổ mới nhất của Canada, Nunavut, ở phía Bắc. 
                    <br />
                    Manitoba bao gồm một số loại địa hình đồng cỏ và thung lũng thảo nguyên ở phía nam, rừng cây thông qua Canadian Shield và lãnh nguyên Bắc Cực ở phía bắc. 
                    Manitoba được gọi là "Vùng đất của 100.000 hồ", và điều đó không hề phóng đại; hổ chiếm 1/6 diện tích toàn tỉnh. 
                    <br />
                    Các khí hậu của Manitoba được xác định bởi bốn mùa rõ rệt; tỉnh trải qua mùa đông lạnh, khô, mùa hè nóng, và suối và thác mát mẻ. 
                    Nam Manitoba trải qua một mùa trồng trọt dài hơn các tỉnh khác do có nhiều giờ nắng hơn và những ngày không có sương giá, tạo cho tỉnh một ngành nông nghiệp phong phú và rộng lớn

                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Winnipeg</div>
                    <div class="offset-1 text-red col-sm-7">Winnipeg</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">647.797 km2</div>
                    <div class="offset-1 text-red col-sm-7">1,379,584</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">Manitoba</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Những lợi thế kinh tế độc đáo của Manitoba cho phép tỉnh xây dựng một nền kinh tế ổn định trên nhiều ngành công nghiệp khác nhau. 
                    <br />
                    Tính này trích dẫn sáu điểm mạnh khiến Manitoba trở nên vững
                    mạnh về kinh tế và luôn chào đón các doanh nghiệp mới: Một lực lượng lao động đa dạng và được giáo dục tốt, Vị trí trung tâm
                    Bắc Mỹ, Tài nguyên thiên nhiên phong phú, Nền công nghiệp đa dạng, chi phí kinh doanh thấp và chất lượng cuộc sống cao.
                    <br /><br />
                    Thủ đô Winnipeg của Manitoba là một trung tâm kinh tế chính của toàn bộ Canada, vì thương mại và vận tải chạy qua thành phố nằm ở trung tâm này.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Manitoba/3-manitoba_Canadavisa_1.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/Manitoba/4-Winnipeg-Manitoba.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/Manitoba/5-Brandon-Manitoba.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/Manitoba/6-Steinbach-Manitoba.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC Manitoba</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Hệ thống giáo dục và các cơ sở giáo dục của Manitoba được
                    quốc tế công nhận, với cơ sở vật chất tiên tiến hàng đầu và đội ngũ giáo viên, giáo sư hàng đầu. 
                    <br />  
                    Giáo dục công ở Manitoba được cung cấp miễn phí cho tất cả công dân Canada và thường trú nhân dưới 21 tuổi. 
                    <br />
                    Đối với giáo dục ở Manitoba, hợp pháp học sinh phải đi học trong độ tuổi từ 6 đến 16 tuổi, mặc dù hầu hết học sinh tiếp tục cho đến khi họ ít nhất 18 tuổi để nhận bằng tốt nghiệp.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Manitoba/6-Steinbach-Manitoba.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListManitoba", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>