@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang New Brunswicks";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/NewBrun/2-map-new-brunswicks.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">NEW BRUNSWICKS</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    New Brunswick nằm trên bờ biển Đại Tây Dương của Canada và có nhiều rừng - khoảng 80 phần trăm đất được bao phủ bởi rừng cây là nơi sinh sống của nai sừng tấm, gấu và các động vật hoang dã khác.
                    <br /><br />
                    Hầu hết những người chuyển đến New Brunswick nhận thấy họ được chào | dán vào các cộng đồng rất thân thiện.

                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Fredericton</div>
                    <div class="offset-1 text-red col-sm-7">SaintJohn</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">72.908 km2</div>
                    <div class="offset-1 text-red col-sm-7">776,827</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">NEW BRUNSWICKS</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    New Brunswick Có một nền kinh tế đa dạng được
                    pha trộn bởi các ngành kinh doanh truyền thống, kinh doanh tài nguyên có sẵn, kinh doanh giá trị
                    gia tăng và cả các ngành kinh doanh ở lĩnh vực tri thức
                    <br />
                    Các công ty ở New Brunswick thu được nhiều lợi
                    nhuận từ việc xuất khẩu sang 108 quốc gia, 76% các mặt hàng sản phẩm được bán cho khách hàng
                    ngoài tỉnh bang. Vì thế New Brunswick trở thành tỉnh bang “mậu dịch năng động” nhất của Canada.
                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/NewBrun/3-kinh_te_New_brunswick.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/NewBrun/4-Saint-John-New Brunswick.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/NewBrun/5-canada-new-brunswick-fredericton-attractions-aerial.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/NewBrun/6-moncton-downtown.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC NEW BRUNSWICKS</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Nền giáo dục của Canada hoàn toàn miễn phí cho tất cả công dân và thường trú nhân dủ diều kiện nhập cư Canada dưới 18 tuổi. 
                    <br />
                    New Brunswick kiêu hãnh với tỷ lệ tốt nghiệp trung học cao nhất Canada là 86%. 
                    Trên 64% công nhân của New Brunswick có bằng Cao dẳng hoặc Đại học. 
                    100% trường học ở New Brunswick được kết nối internet băng thông rộng và tất cả các học sinh trung học tốt nghiệp phải hiểu biết về máy điện toán. 
                    <br />
                    Trình độ công nghệ - đội ngũ lao động có trình độ đã trở thành nguồn tài nguyên mới nhất của New Brunswick

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/NewBrun/8-Đại-học-tại-New-Brunswick.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListNewBrun", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>