@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang Newfoundland và Labrador";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/NL/2-map-nl.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">ALBERTA</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Newfoundland và Labrador là tỉnh cực đông ở Canada. Nó được tạo thành từ hai khu vực: vùng đất liền lớn hơn của Labrador và vùng đảo Newfoundland. 
                    Tính Newfoundland và Labrador có 29.000 km đường bờ biển trên Đại Tây Dương.
                    <br /><br />
                    Newfoundland có khí hậu ôn đới hải dương . Là một hòn đảo, nhiệt độ của Newfoundland luôn ôn hòa quanh năm. 
                    Nhiệt độ trung bình vào mùa hè là khoảng 16 dộ C và dao động khoảng 0 độ C vào mùa đông. 
                    Labrador dại lục nằm ở phía bắc, và có thể lạnh hơn nhiều vào mùa đông, nhưng lại nhận được nhiệt độ ấm lên tới 25 độ C vào mùa hè. Kiểm tra thời tiết ở NL bất kỳ lúc nào tại đây.

                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">St.John's</div>
                    <div class="offset-1 text-red col-sm-7">St.John's</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">405.720 km2</div>
                    <div class="offset-1 text-red col-sm-7">520,998</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">NEWFOUNDLAND VÀ LABRADOR</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Nền kinh tế của Newfoundland và Labrador gắn liền sâu sắc với | lịch sử thuộc địa và bản dịa của nó. Các thủy sản của Newfound
                    land và Labrador trở thành nguồn quan trọng nhất của khu vực thu nhập trong suốt thế kỷ XIX. 
                    Bản sắc kinh tế và văn hóa của tỉnh vẫn bắt nguồn từ nghề cá và đánh bắt cho đến ngày nay. 
                <br />
                    Trong thời hiện đại, ngành dầu khí tự nhiên là ngành đóng góp lớn nhất vào Tổng sản phẩm quốc nội (GDP) của Newfoundland và Labrador. 
                    Các ngành công nghiệp lớn nhất dựa vào khai thác và chế biến tài nguyên thiên nhiên nhưng kinh doanh và xây dựng đang phát triển đều đặn: 
                    Khai thác mỏ, Chế tạo, Thủy sản và nuôi trồng thủy sản, Lâm nghiệp và sau đó tạo ra giấy in báo) Agrifoods, Xây dựng, Địa ốc và Du lịch

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/NL/3-kinh-te-new-foundland.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/NL/4-st-johns-main-header.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/NL/5-Conception-Bay South-NL.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/NL/6-Mount-Pearl- NL.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC NEWFOUNDLAND VÀ LABRADOR</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Newfoundland và Labrador cung cấp một môi trường an toàn, hỗ trợ và truyền cảm hứng cho trẻ em phát triển và học tập.
                    <br /><br />
                    Giáo dục công lập ở Newfoundland và Labrador được miễn phí cho tất cả công dân Canada và thường trú nhân dưới 18 tuổi.
                    <br /><br />
                    Đối với giáo dục ở Newfoundland và Labrador, học sinh bắt buộc phải đi học trong độ tuổi từ 6 đến 16 tuổi, mặc dù hầu hết học sinh vẫn tiếp tục cho đến khi đủ 18 tuổi để được tốt nghiệp trung học.
                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Alberta/7_1_alberta_canada_visa.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListNL", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>