@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang Ontario";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Ontario/map-ontario.jpg" class="img-thumbnail" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">ONTARIO</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Ontario là tỉnh lớn thứ 2 của Canada theo diện tích, có diện tích hơn môt triệu km vuông. Tỉnh nằm ở miền Trung Canada, nó giáp với Quebec về phía Đông, Manitoba về phía Tây,
                    và Great Lakes tạo nên một phần biên giới phía Nam với Hoa Kỳ. Ontario bao gồm tất cả các loại cảnh quan, từ lá chắn Canada có rừng, đất nông nghiệp màu mỡ phía Nam và hơn 250.000 hồ.
                    <br /><br />
                    Ontario trải qua mùa hè nóng ẩm, với nhiệt độ thường tăng trên 30 độ C. Mùa xuân và mùa thu có thể mát mẻ và mưa nhiều, điều này góp phần vào năng suất ở các vùng nông nghiệp mạnh ở Ontario.
                    Mùa đông thường khá lạnh và có tuyết, đôi khi giảm xuống dưới 30 độ C. Ở miền Bắc Ontario, mùa đông thường lạnh hơn và dài hơn một chút so với miền Nam Ontario.
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Toronto</div>
                    <div class="offset-1 text-red col-sm-7">Toronto</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">1,076,395 km2</div>
                    <div class="offset-1 text-red col-sm-7">14,733,119</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">ONTARIO</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Ontario là một nhà cung cấp kinh tế trung tâm cho cả nước, tạo ra 37% GDP quốc gia. Vị trí đắc địa của nó ở trung tâm của khu vực thương mại Tự Do Bắc Mỹ đã cho phép nó
                    trở thành một nhà sản xuất và xuất khẩu hàng hóa lớn. Cảnh quan tương phản và sản xuất của tỉnh cung cấp nhiều tài nguyên thiên nhiên, từ nông nghiệp và lâm nghiệp đến khai thác dầu mỏ.
                    Ngoài ra, Ontario là nơi có những trung kinh tế lớn nhất trên lục địa, Toronto, nơi nhiều cá nhân làm việc trong các dich vụ như tài chính. <br /><br />
                    Các ngành công nghiệp lớn nhất của Ontario tạo ra nền kinh tế vô cùng đa dạng gồm: sản xuất, kinh doanh và tài chính, công nghệ và đổi mới, nông nghiệp, lâm nghiệp, khai thác và nghệ thuật,
                    văn hóa và giải trí.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Ontario/kinh-te-ontario.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/Ontario/4-toronto-ontario-canada.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/Ontario/5-Ottawa- Ontario.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/Ontario/6-Mississauga- Ontario.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC ONTARIO</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Giáo dục là ưu tiên hàng đầu ở Ontario và nền tảng của hệ thống của nó phản ánh điều này. Bắt buộc đến 16 tuổi, trường học miễn phí cho tất cả mọi người
                    từ tiểu học đến trung học (trừ một số đồ dùng học tập).
                    <br /><br />
                    Nếu phải chọn trường sau trung học thì Ontario là nơi bạn tha hồ lựa chọn vì có hơn 30% số trường đại học hàng đầu của Canada nằm tại đây. Phần lớn là các trường
                    đại học dẫn đầu thế giới về nghiên cứu và đổi mới.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Ontario/10-YorkUniversityStation.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListOntario", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>