@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang PEI";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/PEI/2-1-kinh-te-pei.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">PEI</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Đảo Hoàng tử Edward (PEI) là một tỉnh đảo nhỏ trên bờ biển Đại Tây Dương của Canada. 
                    Tính hàng hải này nằm giữa các tỉnh New Brunswick, Nova Scotia, Quebec, Newfoundland và Labrador trong Vịnh St. Lawrence.
                    <br /><br />
                    Khí hậu của Đảo Hoàng tử Edward trải qua bốn mùa rõ rệt. Mùa hè thường rất ấm áp và nhiều nắng, với nhiệt độ dao động từ 20 đến 35 độ C. Tính này trải qua mùa đông ôn hòa hơn so với phần còn lại của đất nước, hiếm khi nhiệt độ xuống dưới -10 độ C. Tuy nhiên, do lượng mưa cao của hòn đảo, tuyết rơi thường có thể đến bất cứ lúc nào trong khoảng thời gian từ tháng 11 đến tháng 4. Mùa thu và mùa xuân mát hơn mùa hè, nhưng vẫn ôn hòa.

                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Charlottetown</div>
                    <div class="offset-1 text-red col-sm-7">Charlottetown</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">5.660 km2</div>
                    <div class="offset-1 text-red col-sm-7">159,713</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">PEI</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Nền kinh tế của Đảo Hoàng tử Edward bao gồm các nguồn tài nguyên thiên nhiên truyền thống của tỉnh song song với công nghệ hiện đại, bao gồm khoa học sinh học và sản xuất tiên tiến.
                    Theo tỉnh, các ngành công nghiệp mạnh nhất của PEI bao gồm:
                    <br /><br />
                    Nông nghiệp: Ngũ cốc, khoai tây và trái cây là những loại cây trồng phổ biến nhất.
                    <br />
                    Thủy sản: PEl xuất khẩu thủy sản sang các tỉnh khác ở Canada và hơn thế nữa.
                    Xuất khẩu thủy sản (đặc biệt là tôm hùm) là lĩnh vực thu nhập chủ lực của tỉnh.
                    <br />
                    Du lịch: Là một tỉnh xinh đẹp và là quê hương của nhân vật hư cấu nổi tiếng Anne of Green Gables, PEl chào đón hơn 1,5 triệu du khách
                    mỗi năm đến hòn đảo nhỏ này. 
                    <br />
                    Hàng không vũ trụ: Một trong những lĩnh vực phát triển nhanh nhất
                    của tỉnh, do công nghệ tiên tiến được phát triển trên Đảo. Khoa học sinh học: Hơn 50 công ty khoa học sinh học hoạt động ngoài PEI.
                    <br />
                    Công nghệ thông tin: Lực lượng lao động có tay nghề cao và chi phí vận hành thấp đã thu hút các công ty CNTT đến Đảo. Năng lượng tái tạo: 25% năng lượng của PEI là năng lượng từ gió.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/PEI/3-Charlottetown- PEI.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/PEI/4-Stratford -PEI.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/PEI/5-Summerside- PEI.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/PEI/7-upei-campus_large.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC PEI</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Giáo dục công lập miễn phí cho tất cả thường trú nhân trong PEI, từ mẫu giáo đến lớp 12. Các trường cao đẳng và đại học nhận được một số quỹ công, nhưng chúng không miễn phí. 
                <br />
                Đối với những công dân nước ngoài muốn sinh sống và làm việc tại Canada, Đảo Hoàng tử Edward đặc biệt ở Charlottetown cung cấp rất nhiều cơ hội việc làm và học tập.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/PEI/7-upei-campus_large.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListPEI", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>