@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang Quebec";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Quebec/2-map-quebec.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">QUEBEC</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Tỉnh Quebec nằm ở đông bắc Canada. Phần lớn dân số của Quebec sống ở các
                    vùng phía nam của tỉnh nơi nhiệt độ ấm hơn, sông St. Lawrence cung cấp nước và đất đai trù phú, và cư dân sống gần các khu vực đông dân cư khác ở Ontario , các tỉnh Đại Tây Dương của Newfoundland và Labrador , Đảo Hoàng tử Edward , New Brunswick , và Nova Scotia và Hoa Kỳ.
                    <br /><br />
                    Khí hậu của Quebec có thể rất khắc nghiệt; mùa hè thường nóng và ẩm ướt, với nhiệt độ dao động trên 30 độ C. 
                    Giữa tháng 11 và tháng 3, mua đồng có thể rất lạnh và có tuyết trên khắp Quebec, nhưng đặc biệt là ở các vùng phía bắc. Quebec nhận được lượng mưa dưới dạng mưa hoặc tuyết quanh năm.
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Quebec</div>
                    <div class="offset-1 text-red col-sm-7">Montreal</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">1.542.056 km2</div>
                    <div class="offset-1 text-red col-sm-7">8,574,571</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">QUEBEC</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Kể từ thời điểm buôn bán lông thú, nền kinh tế của Quebec dã dựa vào nguon lục. 
                    Đất đai màu mỡ xung quanh Song St. Lawrence sản Xuất Tột phần lớn nông nghiệp của Canada, thủy sản, lâm nghiệp và sản xuất bột giấy, và thủy điện đều là những đóng góp đáng kể cho nền kinh tế Quebec. Nước ngọt Có nhiều ở khu vực này để dùng cho nước uống, điện và các loại hình khai thác và sản xuất
                    <br /><br />
                    Ngoài các ngành công nghiệp dựa vào tài nguyên, Quebec còn có những triển vọng mạnh mẽ khác. Là một phần của trung tâm sản xuất của Bắc Mỹ, Quebec thực hiện một phần tư tổng sản lượng sản xuất ở Canada. Vị Montreal là trung tâm tài chính của tỉnh bang và của Canada, nhiều doanh nghiệp, công ty tài chính và vận tải có trụ SỞ chính tại Montreal, mang lại nhiều cơ hội việc làm trong các lĩnh vực này.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Quebec/3-kinh-te-quebec.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/Quebec/4-Montréal-Quebec.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/Quebec/5-Québec-Quebec.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/Quebec/6-LavalQuebec.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC QUEBEC</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Giáo dục là ưu tiên hàng đầu ở Québec và nền tảng của hệ thống của nó phản
                    ánh điều này, Bắt buộc dến 16 tuổi, trường học miễn phí cho tất cả mọi người từ tiểu học đến trung học (trừ một số đó dùng học tập). Không chỉ vậy, học phí cho giáo dục đại học thuộc hàng thấp nhất ở Bắc Mỹ.
                    <br /><br />
                    Được biết đến với nền văn hóa cái mở, hòa nhập và chất lượng giáo dục, Quebec là nơi hoàn hảo cho những người trẻ tuôi phát triển, phát triển và hòa nhập vào xã hội.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Quebec/8-truong-dai-hocc McGill .jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListQuebec", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>