@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
    //Layout = "~/Views/Shared/_Layout_Without_Banner.cshtml";
    ViewBag.Title = "Tỉnh bang Saskatchewan";
}
<div class="container-fluid">
    <div class="row pad-top40px mar-bottom30px">
        <div class="offset-1 col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Saskatchewan/2-map-saskatchewan.jpg" class="img-thumbnail max-height490px full-width" />
        </div>
        <div class="col-sm-7 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>TỔNG QUAN VỀ</p>
                    &nbsp; <p class="text-blue">SASKATCHEWAN</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Saskatchewan (SK) nằm ở miền trung Canada. Nó giáp với Alberta về phía tây, Manitoba về phía đông và Lãnh thổ Tây Bắc ở phía bắc.
                    <br />
                    Phần phía nam của tỉnh được tạo thành từ các đồng cỏ thảo nguyên trong một khu vực được gọi là Great Plains trải dài qua miền trung Canada. Phía bắc chủ yếu
                    là rừng sâu và hồ trong Great Canadian Shield. Hầu hết dân số sống ở phần phía nam của tỉnh, vì phía bắc mở rộng có thể rất lạnh.
                    <br />
                    Khí hậu của Saskatchewan thưởng trải qua những ngày nắng đẹp trong tất cả các mùa. Điều này có thể khiến mùa hè trở nên rất ấm và mùa đông cực kỳ lạnh. Nhiệt độ mùa hè thường dao động trong khoảng 20 đến 30 độ C, với mùa xuân và mùa thu thường mát hơn 20 độ. Mùa đông thường xuyên khô, lạnh và gió lạnh đôi khi

                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">THỦ PHỦ</div>
                    <div class="offset-1 font-weight-bold col-sm-7">THÀNH PHỐ LỚN NHẤT</div>
                    <div class="col-sm-4 text-red ">Regina</div>
                    <div class="offset-1 text-red col-sm-7">Saskatoon</div>
                </div><br />
                <div class="row col-sm-12">
                    <div class="col-sm-4 font-weight-bold">DIỆN TÍCH</div>
                    <div class="offset-1 font-weight-bold col-sm-7">DÂN SỐ</div>
                    <div class="col-sm-4 text-red ">651.900 km2</div>
                    <div class="offset-1 text-red col-sm-7">1,177,884</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p>NỀN KINH TẾ</p>
                    &nbsp; <p class="text-blue">SASKATCHEWAN</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Là đồng cỏ màu mỡ chủ yếu ở phía nam, nhiều trang trại của S5katchewan tạo nên một ngành nông nghiệp lớn và đa dạng, nhưng tỉnh còn có nhiều thử hơn thế nữa. Các ngành công nghiệp lớn nhất Của Saskatchewan là:
                    <br /><br />
                    - Nông nghiệp: Tinh trồng hơn một phần ba lúa mì cứng của thế giới, cũng như là nước xuất khẩu đậu lăng và đậu Hà Lan khô hàng đầu thế giới. Tình trồng thêm nhiều loại ngũ cốc và lương thực chính như lúa mạch, yến mạch và cải dầu. 
                    <br />
                    - Khai thác; Saskatchewan cung cấp 1/3 kali thế giới và 1/5 uranium trên thế giới. 
                    <br />
                    - Sản xuất: Tính đổi mới và sản xuất nhiều mặt hàng từ thiết bị công nghiệp đến máy bay. 
                    <br />
                    - Chế biến thực phẩm: Sữa, thịt và các sản phẩm nông nghiệp đều duoc che bien o Saskatchewan 
                    <br />
                    - Năng lượng: Các mỏ dầu trên biên giới Alberta Saskatchewan rất sinh lợi. Năng lượng cũng được tạo ra từ than đá, địa nhiệt phong điện và thủy điện, 
                    <br />
                    - Khoa học Đời sống: Tinh này dẫn đầu thế giới về công nghệ sinh
                    học liên quan đến nông nghiệp và khoa học thực phẩm cũng như dược phẩm, thực vật học và khoa học động vật.

                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Saskatchewan/3-kinh-te-saskatchewan.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>
    <div class="row pad-top40px mar-bottom30px pad-bot30px">
        <div class="offset-1 col-sm-11 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">TOP THÀNH PHỐ NỔI BẬT</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    <div class="col-sm-8 remove-paddingleft remove-paddingright"><img src="~/Content/images/States/Saskatchewan/4-Saskatoon-Saskatchewan.jpg" class="img-thumbnail min-height306px" /></div>
                    <div class="col-sm-4 remove-paddingleft">
                        <img src="~/Content/images/States/Saskatchewan/5-Regina-Saskatchewan.jpg" class="img-thumbnail height-auto min-height263px" /><br />
                        <img src="~/Content/images/States/Saskatchewan/6-Princealbert_downtown.jpg" class="img-thumbnail height-auto min-height263px" />
                    </div>
                </div><br />
            </div>
        </div>
    </div>
    <div class="row pad-top40px work-grey-bk mar-bottom30px pad-bottom200px" style="background-image: url(/Content/images/States/Ontario/7_background_ontario.jpg) ">
        <div class="offset-1 col-sm-6 remove-paddingleft">
            <div class="canada-deserve-to-life pad-left30px">
                <div class="row col-sm-12 canada-deserve-to-life-title remove-paddingleft">
                    <img src="/Content/images/left-bg.jpg" class="img-left-icon" />
                    <p class="text-blue">HỆ THỐNG GIÁO DỤC SASKATCHEWAN</p>
                </div>
                <div class="row col-sm-12 remove-paddingleft">
                    Giáo dục Saskatchewan được cung cấp miễn phí cho tất cả công dân Canada và thường trú nhân dưới 18 tuổi. 
                    <br />
                    Bộ Giáo dục cam kết mang lại sự thành công và hạnh phúc cho tất cả những người học ở Saskatchewan và nâng cao khả năng đọc viết cho tất cả người dân Saskatchewan. 
                    Bằng cách đặt nhu cầu của mỗi học sinh lên hàng đầu, đảm bảo rằng tỉnh có một dân số có tay nghề cao và trình độ học vấn cao sẽ đóng góp vào sự thành công của Saskatchewan.
                </div><br />
            </div>
        </div>
        <div class="col-sm-4 remove-paddingleft">
            <img src="~/Content/images/States/Saskatchewan/8-campus-aerial-2017.jpg" class="img-thumbnail min-height306px" />
        </div>
    </div>

    <div class="container-fluid pad-top40px mar-bottom60px pos-rel min-height400px">
        @{Html.RenderAction("SchoolListSaskatchewan", "Home");}
    </div>
</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>