<div class="row school-list position-absolute">
    <div class="col-sm-3 offset-1 school-item mar-right15px">
        <img src="~/Content/images/States/Manitoba/8-truong-dai-hoc-Manitoba.jpg" class="img-thumbnail" />
        <div class="school-other-information pos-rel">
            <div class="state-name">Manitoba</div>
            <div class="school-name"><strong>Trường đại học Manitoba</strong></div>
            <div class="chool-criteria">
                #22 đại học tốt nhất ở Canada <br />
                #320 đại học toàn cầu tốt nhất
            </div>
            <hr style="border: 1px solid #CCC;" />
            <div class="pad-top40px text-center">
                <input type="button" id="btnViewMore" value="XEM CHI TIẾT" class="btn-grey full-width" onclick="javascript: void (0);" />
            </div>
        </div>
    </div>
    <div class="col-sm-3 school-item mar-right15px">
        <img src="~/Content/images/States/Manitoba/9-truong-dai-hoc-Winnipeg.jpg" class="img-thumbnail" />
        <div class="school-other-information pos-rel">
            <div class="state-name">Manitoba</div>
            <div class="school-name"><strong>Trường đại học Winnipeg</strong></div>
            <div class="chool-criteria">
                #34 đại học tốt nhất ở Canada <br />
                #1013 đại học toàn cầu tốt nhất
            </div>
            <hr style="border: 1px solid #CCC;" />
            <div class="pad-top40px text-center">
                <input type="button" id="btnViewMore" value="XEM CHI TIẾT" class="btn-grey full-width" onclick="javascript: void (0);" />
            </div>
        </div>
    </div>
    <div class="col-sm-3 school-item mar-right15px">
        <img src="~/Content/images/States/Manitoba/10-truong-dai-hoc- Brandon .jpg" class="img-thumbnail" />
        <div class="school-other-information pos-rel">
            <div class="state-name">Manitoba</div>
            <div class="school-name"><strong>Trường đại học Brandon</strong></div>
            <div class="chool-criteria">
                #63 đại học tốt nhất ở Canada <br />
                #2196 đại học toàn cầu tốt nhất
            </div>
            <hr style="border: 1px solid #CCC;" />
            <div class="pad-top40px text-center">
                <input type="button" id="btnViewMore" value="XEM CHI TIẾT" class="btn-grey full-width" onclick="javascript: void (0);" />
            </div>
        </div>
    </div>
</div>