<div class="row school-list position-absolute">
    <div class="col-sm-3 offset-1 school-item mar-right15px">
        <img src="~/Content/images/States/Quebec/8-truong-dai-hocc McGill .jpg" class="img-thumbnail" />
        <div class="school-other-information pos-rel">
            <div class="state-name">Quebec</div>
            <div class="school-name"><strong>Trường đại học MCGill</strong></div>
            <div class="chool-criteria">
                #4 đại học tốt nhất ở Canada <br />
                #60 đại học toàn cầu tốt nhất
            </div>
            <hr style="border: 1px solid #CCC;" />
            <div class="pad-top40px text-center">
                <input type="button" id="btnViewMore" value="XEM CHI TIẾT" class="btn-grey full-width" onclick="javascript: void (0);" />
            </div>
        </div>
    </div>
    <div class="col-sm-3 school-item mar-right15px">
        <img src="~/Content/images/States/Quebec/9-Université-de-Montréal.jpg" class="img-thumbnail" />
        <div class="school-other-information pos-rel">
            <div class="state-name">Quebec</div>
            <div class="school-name"><strong>Trường đại học Montreal</strong></div>
            <div class="chool-criteria">
                #13 đại học tốt nhất ở Canada <br />
                #159 đại học toàn cầu tốt nhất
            </div>
            <hr style="border: 1px solid #CCC;" />
            <div class="pad-top40px text-center">
                <input type="button" id="btnViewMore" value="XEM CHI TIẾT" class="btn-grey full-width" onclick="javascript: void (0);" />
            </div>
        </div>
    </div>
    <div class="col-sm-3 school-item mar-right15px">
        <img src="~/Content/images/States/Quebec/10-truong-dai-hoc-laval.jpg" class="img-thumbnail" />
        <div class="school-other-information pos-rel">
            <div class="state-name">Quebec</div>
            <div class="school-name"><strong>Trường đại học Laval</strong></div>
            <div class="chool-criteria">
                #14 đại học tốt nhất ở Canada <br />
                #160 đại học toàn cầu tốt nhất
            </div>
            <hr style="border: 1px solid #CCC;" />
            <div class="pad-top40px text-center">
                <input type="button" id="btnViewMore" value="XEM CHI TIẾT" class="btn-grey full-width" onclick="javascript: void (0);" />
            </div>
        </div>
    </div>
</div>