@{
    @model ImmiCanada.Controllers.ServiceSearchCriteria
}
<div class="container-fluid work-interface-container">

</div>
<div class="container-fluid pad-top40px mar-bottom60px">
    @{Html.RenderAction("InterestedSection", "Home");}
</div>