@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row pad-top40px" data-aos="fade-up">
        <div class="row col-sm-12">
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </div>

                    <div class="card-body pos-rel">
                        <p class="card-title">Nhiều năm kinh nghiệm</p>
                        <p class="card-text">
                            Chúng tôi đã đại diện cho khách hàng của chúng tôi ở Việt Nam trong nhiều năm qua liên quan đến lĩnh vực di trú, đầu tư tại đất nước Canada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Hơn nhiều trường hợp nhập cư</p>
                        <p class="card-text">
                            Chúng tôi đã thành công đại diện cho nhiều khách hàng Việt Nam nhập cư vào đất nước Canada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3 red-background">
                        <i class="fa fa-umbrella" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Đánh giá miễn phí</p>
                        <p class="card-text">
                            Trước khi đại diện cho khách hàng của chúng tôi, chúng tôi cung cấp một quy trình đánh giá nhập cư Canada miễn phí.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Chuyên gia xuất nhập cảnh</p>
                        <p class="card-text">
                            Tất cả luật sư & tư vấn của chúng tôi chuyên về Luật Di Trú để đảm bảo trường hợp của bạn được giải quyết đúng đắn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <p>CANADA</p>
            &nbsp; QUỐC GIA ĐÁNG SỐNG
        </div>
        <hr class="hoz-line-fee" />
        <div class="row col-sm-12">
            Đằng sau sự giàu có và thành công của một quốc gia là các chính sách tạo ra các khả năng, những thúc đẩy nỗ lực và lịch sử định hình môi trường và quan điểm.
            <br />
            Bảng xếp hạng của một quốc gia đáng sống nhất được dựa trên một số đặc điểm và 9 phần quan trọng ngày đây tạo nên thứ hạng tổng thể, góp phần tạo nên quốc gia đáng sống
        </div>
        <div class="row">
            <div class="col-sm-12 pad-top40px">
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-chatluongcuocsong" src="Content/images/chatluongcuocsong1.jpg" data-aos="flip-left"/>
                        <p class="center-note">CHẤT LƯỢNG CUỘC SỐNG</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-quyencongdan" src="Content/images/quyencongdan.png" data-aos="flip-left" />
                        <p class="center-note">QUYỀN CÔNG DÂN</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-quyenluc" src="Content/images/quyenluc.png" data-aos="flip-left"/>
                        <p class="center-note">QUYỀN LỰC</p>
                    </div>
                </div>
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-mochodoanhnghiep" src="Content/images/mochodoanhnghiep.jpg" data-aos="flip-left" />
                        <p class="center-note">MỞ CHO DOANH NGHIỆP</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-giaoduc" src="Content/images/giaoduc.jpg" data-aos="flip-left" />
                        <p class="center-note">GIÁO DỤC</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-nuoidayconcai" src="Content/images/nuoidayconcai.png" data-aos="flip-left" />
                        <p class="center-note">NUÔI DẠY CON CÁI</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-minhbach" src="Content/images/minhbach.png" data-aos="flip-left" />
                        <p class="center-note">MINH BẠCH</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-trusochinhcuatongcongty" src="Content/images/trusochinhcuatongcongty.jpg" data-aos="flip-left" />
                        <p class="center-note">TRỤ SỞ CHÍNH</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-phunu" src="Content/images/phunu.png" data-aos="flip-left" />
                        <p class="center-note">PHỤ NỮ</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-5">
                <div class="row">
                    <img class="img-fluid full-width" src="Content/images/tieuchixephang.png" />
                </div>
                <div class="ranking-criteria">
                    Tiêu chí xếp hạng
                </div>
                <div class="">
                    Đằng sau sự giàu có và thành công của một quốc gia là các chính sách tạo ra các khả năng, những thúc đẩy nỗ lực và lịch sử định hình môi trường và quan điểm.
                    <br />
                    Bảng xếp hạng của một quốc gia đáng sống nhất được dựa trên một số đặc điểm và 9 phần quan trọng ngày đây tạo nên thứ hạng tổng thể, góp phần tạo nên quốc gia đáng sống
                </div>
            </div> -->
        </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <p>DỊCH VỤ</p>
            &nbsp; NỔI BẬT
        </div>
        <hr class="hoz-line-fee" />
        <div class="row col-sm-12 pad-top40px">
            <div class="col-sm-4" data-aos="zoom-in-down">
                <div class="card float-right card-highlight">
                    <img class="card-img-top" src="Content/images/Dichvunoibat1.png" alt="Card image cap">
                    <div class="card-body pos-rel">
                        <div class="card-main-outstanding-title">ĐẦU TƯ TỈNH BANG NEW BRUNKSWICKS</div>
                        <div class="outstanding-form">
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>Địa điểm
                                </div>
                                <div class="col-sm-6">New Brunkswicks</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Thường trú nhân
                                </div>
                                <div class="col-sm-6">Cho cả gia đình</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-money" aria-hidden="true"></i>Phí dịch vụ
                                </div>
                                <div class="col-sm-6">500 - 600 triệu</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-hourglass-o" aria-hidden="true"></i>Thời gian
                                </div>
                                <div class="col-sm-6">16 - 18 tháng</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-server" aria-hidden="true"></i>Loại chương trình
                                </div>
                                <div class="col-sm-6">Đầu tư</div>
                            </div>
                        </div>
                        <div class="row outstanding-form-footer">
                            <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" data-aos="zoom-in-down">
                <div class="card card-highlight">
                    <img class="card-img-top" src="Content/images/Dichvunoibat2.png" alt="Card image cap">
                    <div class="card-body pos-rel">
                        <div class="card-main-outstanding-title">
                            ĐỊNH CƯ AIPP
                            <br />
                            DIỆN TAY NGHỀ
                        </div>
                        <div class="outstanding-form-violet">
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>Địa điểm
                                </div>
                                <div class="col-sm-6">New Brunkswicks</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Thường trú nhân
                                </div>
                                <div class="col-sm-6">Cho cả gia đình</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-money" aria-hidden="true"></i>Phí dịch vụ
                                </div>
                                <div class="col-sm-6">500 - 600 triệu</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-hourglass-o" aria-hidden="true"></i>Thời gian
                                </div>
                                <div class="col-sm-6">16 - 18 tháng</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-server" aria-hidden="true"></i>Loại chương trình
                                </div>
                                <div class="col-sm-6">Đầu tư</div>
                            </div>
                        </div>
                        <div class="row outstanding-form-violet-footer">
                            <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" />
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4 float-left" data-aos="zoom-in-down">
                <div class="card card-highlight">
                    <img class="card-img-top" src="Content/images/Dichvunoibat3.png" alt="Card image cap">
                    <div class="card-body pos-rel">
                        <div class="card-main-outstanding-title">
                            WORKPERMIT
                            <br />
                            LAO ĐỘNG VIỆC LÀM
                        </div>
                        <div class="outstanding-form-orrange">
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>Địa điểm
                                </div>
                                <div class="col-sm-6">New Brunkswicks</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Thường trú nhân
                                </div>
                                <div class="col-sm-6">Cho cả gia đình</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-money" aria-hidden="true"></i>Phí dịch vụ
                                </div>
                                <div class="col-sm-6">500 - 600 triệu</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-hourglass-o" aria-hidden="true"></i>Thời gian
                                </div>
                                <div class="col-sm-6">16 - 18 tháng</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-server" aria-hidden="true"></i>Loại chương trình
                                </div>
                                <div class="col-sm-6">Đầu tư</div>
                            </div>
                        </div>
                        <div class="row outstanding-form-orrange-footer">
                            <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row pad-top40px canada-deserve-to-life document-handling-container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="row col-sm-12 canada-deserve-to-life-title">
        <p>QUY TRÌNH</p>
        &nbsp; XỬ LÝ HỒ SƠ
    </div>
    <hr class="hoz-line-fee" />
    <div class="col-sm-12 document-handling">
        <div class="col-sm-12 document-handling-pri-text">
            DỊCH VỤ VIỆC LÀM ĐẦU TƯ ĐỊNH CƯ CANADA
        </div>
        <div class="col-sm-10 offset-1 document-handling-sec-text">
            Cung cấp dịch vụ nhập cư với sự hỗ trợ của các chuyên gia nhập cư tốt nhất. Chúng tôi hướng dẫn các ứng viên quan tâm lựa chọn các lựa chọn visa PR tốt nhất, đánh giá cơ hội xin visa,
            hỗ trợ ứng viên trong các thủ tục xin visa và thủ tục PR.
        </div>
        <div class="col-sm-12 document-handling-section-detail">
            <div class="row mar-bottom30px">
                <div class="col-sm-4 row">
                    <div class="col-sm-3">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 document-handling-section-detail-sec-text">
                        <p class="document-handling-section-detail-sec-title">Tiếp nhận hồ sơ khách hàng</p>
                        CANADA VISA tiếp nhận. Luật sư di trú thẩm đinh hoàn toàn đánh giá chuyên sâu về tính đủ điều kiện và kế hoạch nhập cư phù hợp.
                    </div>
                </div>
                <div class="col-sm-4 row">
                    <div class="col-sm-3">
                        <i class="fa fa-deaf" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 document-handling-section-detail-sec-text">
                        <p class="document-handling-section-detail-sec-title">Cung cấp và giải pháp</p>
                        Chúng tôi cung cấp cho bạn các giải pháp phù hợp dựa trên mục tiêu và nhu cầu của bạn.
                    </div>
                </div>
                <div class="col-sm-4 row">
                    <div class="col-sm-3">
                        <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 document-handling-section-detail-sec-text">
                        <p class="document-handling-section-detail-sec-title">Ký kết hợp đồng</p>
                        Sau khi khách hàng đồng ý tham gia chương trình, CANADA VISA tiền hành soạn thảo ký kết hợp đồng soạn thảo.
                    </div>
                </div>
            </div>
            <div class="row mar-bottom30px">
                <div class="col-sm-4 row">
                    <div class="col-sm-3">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 document-handling-section-detail-sec-text">
                        <p class="document-handling-section-detail-sec-title">Quản lý hồ sơ</p>
                        CANADA VISA lập group để khách hàng tương tác trực tiếp với team xử lý hồ sơ tại Việt Nam.
                    </div>
                </div>
                <div class="col-sm-4 row">
                    <div class="col-sm-3">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 document-handling-section-detail-sec-text">
                        <p class="document-handling-section-detail-sec-title">Thủ tục giấy tờ</p>
                        Tiến hành thủ tục giấy tờ, nộp đơn, đệ trình biểu mẫu và tài liệu. Tất cả đều phải được biên soạn chính xác và hoàn thành chính xác và nộp trong thời hạn chặt chẽ. RCIC của chúng tôi thay mặt bạn giải quyết vấn đề này.
                    </div>
                </div>
                <div class="col-sm-4 row">
                    <div class="col-sm-3">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-9 document-handling-section-detail-sec-text">
                        <p class="document-handling-section-detail-sec-title">Kết quả</p>
                        Chúng tôi thông báo cho bạn về tình trạng và kết quả hồ sơ của bạn từ lúc bắt đầu đến khi hoàn tất.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pad-top40px canada-map" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="col-sm-12 pos-rel">
        <img class="img-fluid full-width" src="Content/images/map canada.png" />
        <div class="canada-map-des">
            <p class="canada-map-first-text">CANADA</p>
            <p class="canada-map-sec-text">NƠI HẠNH PHÚC NGẬP TRÀN</p>
        </div>
    </div>
</div>
<div class="row section-interested" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="col-sm-12 row">
        <div class="col-sm-6 ">
            <div class="col-sm-12 row main-interested-section">
                <div class="col-sm-2">
                    <div class="interested-main-surground"><i class="fa fa-pencil-square-o interested-main-icon" aria-hidden="true"></i></div>
                </div>
                <div class="col-sm-10 mar-top25px pad-left35px">
                    <h4>Ứng viên quan tâm</h4>
                    <div class="interested-text">Tìm hiểu xem bạn đủ điều kiện đến Canada hay không bằng cách điền vào biểu mẫu đánh giá miễn phí của chúng tôi. Chúng tôi sẽ cung cấp cho bạn bảng đánh giá của chúng tôi trong vòng 1-2 ngày làm việc.</div>
                    <button type="button" class="btn btn-danger mar-top25px btn-interested">Phiếu đánh giá miễn phí</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="col-sm-12 row main-interested-section">
                <div class="col-sm-2">
                    <div class="interested-main-surground"><i class="fa fa-pencil-square-o interested-main-icon" aria-hidden="true"></i></div>
                </div>
                <div class="col-sm-10 mar-top25px pad-left35px">
                    <h4>Nhà tuyển dụng quan tâm</h4>
                    <div class="interested-text">Vui lòng liên hệ với chúng tôi để nhận thêm thông tin.</div>
                    <button type="button" class="btn btn-danger mar-top25px btn-interested">Liên hệ chúng tôi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 row mar-top25px">
        <div class="col-sm-6 ">
            <div class="col-sm-12 row main-interested-section">
                <div class="col-sm-2">
                    <div class="interested-main-surground"><i class="fa fa-pencil-square-o interested-main-icon" aria-hidden="true"></i></div>
                </div>
                <div class="col-sm-10 mar-top25px pad-left35px">
                    <h4>Đại lý quan tâm</h4>
                    <div class="interested-text">Chúng tôi hoan nghênh các liên kết với các đại lý đủ điều kiện. Theo liên kết dưới đây để tìm hiểu thêm</div>
                    <button type="button" class="btn btn-danger mar-top25px btn-interested">Liên hệ chúng tôi</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="col-sm-12 row main-interested-section">
                <div class="col-sm-2">
                    <div class="interested-main-surground"><i class="fa fa-pencil-square-o interested-main-icon" aria-hidden="true"></i></div>
                </div>
                <div class="col-sm-10 mar-top25px pad-left35px">
                    <h4>Tin tức</h4>
                    <div class="interested-text">Đọc thêm tin tức về nhập cư Canada.</div>
                    <button type="button" class="btn btn-danger mar-top25px btn-interested">Tin mới nhất</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*<hr class="news-line-top" />*@
<div class="row section-news pad-top40px" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    @*Link for Carousel multiple items : https://azmind.com/bootstrap-carousel-multiple-items/*@
    <div class="top-content">
        <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                        <img src="~/Content/images/News/News1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News2.png" class="img-fluid mx-auto d-block" alt="img2">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News5.jpg" class="img-fluid mx-auto d-block" alt="img5">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News6.png" class="img-fluid mx-auto d-block" alt="img6">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News7.jpg" class="img-fluid mx-auto d-block" alt="img7">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="~/Content/images/News/News8.png" class="img-fluid mx-auto d-block" alt="img8">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
